.about_me {
    text-align: center;
  }
  
  .row {
    padding-top: 30px;
  }
  .fas fa-arrow-circle-down {
    color: black;
    font-size: 1.5 em;
  }
  #projectsCarousel {
    margin-top: 35px;
  }
  .display-4 {
    padding-top: 80px;
  }
  /* .jumbotron {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */
  li {
    list-style: none;
  }
  #header {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
